@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-white text-gray-900 antialiased;
    font-family: "Lausanne", "Inter", "Roboto", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  button {
    @apply outline-none focus:outline-none;
  }
}

@layer components {
  .search-input {
    @apply h-8 rounded-full px-3 text-sm;
  }
}
